body { 
	background: #007FFF; 
}

.block {
	position: absolute;
	background: #C8E6FD;
}
.block:hover {
	position: absolute;
	background: #FFFFFF;
}
.mainstring {
	color: #FFFFFF;
}

#logo {
	position: absolute;
}
#str {
	position: absolute;
}