body { 
	background: #0C0C15; 
}

.block {
	position: absolute;
	background: #E0E0F2;
}
.block:hover {
	position: absolute;
	background: #FFFFFF;
}
.mainstring {
	color: #FFFFFF;
}

#logo {
	position: absolute;
}
#str {
	position: absolute;
}